.textarea {
  width: 80%;
  height: 30vh;
  font-size: 22px;
  background-color: #000;
  color: #fff;
  border-radius: 25px;
  border: 10px solid #ececec;
  padding: 10px;
}

.textarea:focus {
  outline: none;
}