.key {
  cursor: pointer;
  min-width: 6rem;
  height: 6rem;
  padding: 3px 8px 10px;
  box-sizing: border-box;
  background: #9e9e9e;
  border-radius: .5rem;
  margin: .1rem;
  transition: all .1s ease-out;
}

.key__inner {
  display: block;
  background: #e1d8cd;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: .5rem;
  border: 1px solid #e1d8cd;
  box-shadow: inset 2px 0px 5px 0px #9e9e9e;
  display: grid;
  place-items: center;
  font-size: 1.8rem;
}

.key:active,
.key_active {
  padding: .2rem;

  >.key__inner {
    transition: all .1s ease-out;
    box-shadow: inset 2px 0px 15px 10px #9e9e9e;
  }
}

.key__uppercase {
  text-decoration: underline;
}

.key[data-code='Space'],
.key[data-code='Backspace'],
.key[data-code='Enter'],
.key[data-code='Tab'],
.key[data-code='ShiftRight'] {
  flex-grow: 1;
}

.key[data-code='Enter'],
.key[data-code='CapsLock'] {
  min-width: 12.5rem
}

.key[data-code='ShiftLeft'] {
  min-width: 15rem
}